name: Testing and Linting

on:
  pull_request:
  push:

jobs:
  coverage:
        runs-on: ubuntu-latest
        env:
            CI_JOB_NUMBER: 1
        steps:
            - uses: actions/checkout@v1
            - uses: artiomtr/jest-coverage-report-action@v1.2
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  test_script: npm run test -- --coverage --coverageReporters="text" --coverageReporters="text-summary" --watchAll
                  threshold: 90
  test:
    name: Running Units Tests & Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: npm install
      - name: Test
        run: npm test
      - name: Linter
        run: npm run lint
